DATABASE_NAME =
DATA_FOLDE =
LOG_FILE =
AZURE_STORAGE_CONNECTION_STRING =
CONTAINER_NAME =
SENDER_MAIL = 
EMAIL_PASSWORD = 
RECEIVER_MAIL = 

# Azure SQL
PRODUCTS_FROM_AZURE_SQL=false
AZURE_SQL_SERVER=your-server.database.windows.net
AZURE_SQL_DATABASE=your_database_name